@page "/bookdetail/{BookId}"
@inherits BookDetailBase
<h1 class="page-title">Detail Buku : @Book.Judul</h1>



<div class="col-12 row">
    <div class="col-4">
        <img src="@($"images/{Book.Gambar}")"   width="200" height="300" />
    </div>
    <div class="col-8 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Book ID</label>
                <div class="col-sm-8">
                    <label type="text" class="form-control-plaintext">@Book.ID</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Judul</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Book.Judul</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Penulis</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Book.Penulis</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@NamaCategory</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Penerbit</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Book.Penerbit</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Deskripsi</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Book.Deskripsi</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">

                    @if (Book.Status)
                    {
                        <label type="text" readonly class="form-control-plaintext">Tersedia</label>
                    }
                    else
                    {
                        <label type="text" readonly class="form-control-plaintext">DiPinjam</label>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
